<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Java Project Management Tool</title>

</head>
<body>
    <section>
        <div class="container">
            <h1>Welcome to Our Project Management Tool</h1>
            <p>Our project management tool simplifies team formation and project ideation.</p>
            <p>Key features:</p>
            <ul>
                <li>Efficient finding of individuals and projects.</li>
                <li>Detailed student profiles.</li>
                <li>Trending projects based on user-specified domains.</li>
                <li>Active project search in specific fields.</li>
                <li>Interactive team formation and collaboration.</li>
                <li>Invitation system for joining projects.</li>
            </ul>
            <p>We aim to provide a user-friendly platform for project management.</p>
        </div>
    </section>
</body>


</html>